@using Cats.Areas.Logistics.Models
@using Cats.Helpers
@using Cats.Models
@using Cats.Models.ViewModels.HRD
@using Kendo.Mvc.UI
@using Cats.Security

@model IEnumerable<TransferViewModel>

    @{
        ViewBag.Title = Html.Translate("Index");
        //Layout = "~/Views/Shared/_MainLayout.cshtml";
        const string pageName = "Logistics.Transfer.Index";
        Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
        ViewBag.PageTitle = Html.Translate("List of Receipt Plan From Transfer");
        ViewBag.PageTitleDescription = "";
        var index = 0;
    }

    @*@section Toolbar
        {
            <a id="btnAddReciptPlan" data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "Transfer")"></a>
        }*@

    <style>
        .busy {
            cursor: wait !important;
        }
    </style>
    <script>
        function loadWaitModal() {
            $("body").addClass("busy");
        }
        function unloadWaitModal() {
            $("body").removeClass("busy");
        }
    </script>
    <script type="text/javascript">
            $(function () {

                //Optional: turn the chache off
                //$.ajaxSetup({ cache: false });

                $('#btnAddReciptPlan').click(function () {

                    // alert("");
                    loadWaitModal();
                    $('#dialogContent').load(this.href, function () {
                        $('#dialogDiv').modal({
                            backdrop: 'static',
                            keyboard: true
                        }, 'show');
                        //bindForm(this);
                        $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
                    });
                    unloadWaitModal();
                    return false;
                });

            });
    </script>


    <div id='dialogDiv' class='modal fade'>
        <div id='dialogContent'></div>
    </div>


    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-list font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> @Html.Translate("List of Receipt Plan From Transfer")</span>
                <span class="caption-helper">  </span>
            </div>
            @*<div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""></a>
                </div>*@
            <div class="actions">
                @if (LogisticsConstants.isValidOperation(LogisticsConstants.Operation.Add_new_transfer_plan).ToString() == "Add_new_transfer_plan")
                {
                    <a id="btnAddReciptPlan" data-buttontype="btn_new_record" class="btn green" href="@Url.Action("Create", "Transfer")"><i class="fa fa-plus"></i> @Html.Translate("Create New")</a>
                }
            </div>
        </div>
        <div class="portlet-body">
           
                <div class="table-responsive">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>SI Number</th>
                                <th>Source Hub</th>
                                <th>Program</th>
                                <th>Commodity</th>
                                <th>Commodity Source</th>
                                <th>Quantity in MT</th>
                                <th>Created Date</th>
                                <th>Destination hub</th>
                                <th>Status Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TransferViewModel item in Model)
                            {
                                index++;

                                <tr>
                                    <td>
                                        @if (LogisticsConstants.isValidOperation(LogisticsConstants.Operation.Transfer_plan_link) == "Transfer_plan_link")
                                        {
                                            if (item.Status != "Approved")
                                            {
                                                <a onclick="onEdit(@item.TransferID)">@Html.Translate(item.SiNumber)</a>
                                            }
                                            else
                                            {
                                                @Html.Translate(item.SiNumber)
                                            }
                                        }
                                    </td>
                                    <td>
                                        @item.SourceHubName
                                    </td>
                                    <td>
                                        @item.Program
                                    </td>
                                    <td>
                                        @item.Commodity
                                    </td>
                                    <td>
                                        @item.CommoditySource
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @item.CreatedDate
                                    </td>
                                    <td>
                                        @item.DestinationHubName
                                    </td>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        @if (item.Status == "Draft" || item.Status == "Rejected")
                                        {
                                            <a id="btnDelete" onclick="OnDelete(@item.TransferID)">@Html.Translate("Delete")</a>
                                        }
                                    </td>

                                    <td>
                                        &nbsp;
                                        <div class="btn-group">
                                            <button type="button" id="action_@index" class="btn btn-default dropdown-toggle btn-xs green-stripe" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-horizontal"></i> @Html.Translate("Workflow") <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">

                                                @if (item.Status == "Draft")
                                                {
                                                    <li class="edit_button">
                                                        <a href="javascript:promot_workflow(@item.BusinessProcessID ,@item.ApprovedId,'Approve',@item.TransferID)" title="Approve">Approve</a>
                                                    </li>
                                                }

                                                @*@if (item.Status == "Approved")
                                                {
                                                    <li class="edit_button">
                                                        <a href="javascript:promot_workflow(@item.BusinessProcessID ,@item.RejectedId,'Reject',@item.TransferID)" title="Reject">Reject</a>
                                                    </li>
                                                }

                                                @if (item.Status == "Rejected")
                                                {
                                                    <li class="edit_button">
                                                        <a href="javascript:promot_workflow(@item.BusinessProcessID ,@item.ApprovedId,'Approve',@item.TransferID)" title="Approve">Approve</a>
                                                    </li>
                                                }*@

                                                <li class="divider"></li>

                                                <li class="edit_button"><a href="javascript:workflow_history(@item.BusinessProcessID)"> History </a></li>

                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
          
        </div>
    </div>


    <div id='dialogDivSmall' class='modal fade'>
        <div id='dialogContentSmall'></div>
    </div>


    <div id="modalWindow" style="display: none;">
        <div class="alert alert-warning">
            <strong>Warning!</strong> Are You Sure You Want to Delete this Transfer?
        </div>
        <hr />
        <div class="pull-right">
            <button id="yes" class="btn green">Yes</button>
            <button id="no" class="btn red">No</button>
        </div>
    </div>

    <div id="modalHistory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="modalHistoryLabel">Activity History</h4>
                </div>
                <div class="modal-body" id="modalHistoryBody">History</div>

            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_PromotWorkflow.cshtml");
    @*@Html.Partial("~/Areas/Logistics/Views/Transfer/_Edit.cshtml");*@


    <script type="text/javascript">

        var history_link = "@Url.Action("History", "BusinessProcess", new {Area = "WorkflowManager", id = "0"})";

        function promot_workflow(BusinessProcessID, nextstate, actionname, transferId) {
            console.log("BusinessProcessID: " + BusinessProcessID);
            console.log("nextstate: " + nextstate);
            console.log("actionname: " + actionname);
            $('#ParentBusinessProcessID').val(BusinessProcessID);
            $('#GiftCertificateID').val(transferId);
            $('#stateID').val(nextstate);
            $('#modalPromotionLabel').html(actionname);
            $('#modalPromotion').modal();
            $.ajax({
                type: "POST",
                url: 'Url.Action("' + actionname + '", "Transfer")',
                data: JSON.stringify('{transferId:' + transferId + '}'),
                dataType: "json"
            });
        }

        function workflow_history(BusinessProcessID) {
            $('#modalHistory').modal();
            $('#modalHistoryBody').html("<div style='text-align:center;'> <img src='/content/images/loading.gif'/></div>");
            $.post(history_link + BusinessProcessID, {},
                function (data) {
                    $("#modalHistoryBody").html(data);
                }
            );
        }

    </script>

    <script>


    function onDataBound(e) {
        //alert("show");
        var grid = $("#grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        //alert(gridData.length);
        for (var i = 0; i < gridData.length; i++) {
            var currentUid = gridData[i].uid;
            //alert(gridData[i].Status);
            if (gridData[i].StatusName == "Approved") {
                var currentRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                var deleteButton = $(currentRow).find(".k-grid-Delete");

                deleteButton.hide();
            }
        }
    }

    function OnDelete(transferId) {
        //e.preventDefault();

        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Delete", "Transfer")" + "/" + transferId;
            wnd.close();
        });

        $("#no").click(function () {
            window.wnd.close();
        });
    };

    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false
            //width: 300
        }).data("kendoWindow");
    });

    var myApp = angular.module('transferApp', []);

    myApp.controller('transferController', function ($scope, $http) {
        $scope.hrds = [];

        $scope.onRequestsSuccess = function (data) {
            $scope.hrds = data;

        };

        $scope.getHrd = function () {
            $http.post("@Url.Action("Transfer_Read", "Transfer", new {Area = "Logistics"})").success(onRequestsSuccess);
        };

    });

    function onEdit(transferId) {

        var url = '@Url.Action("Edit", "Transfer")?id=' + transferId;

        $('#dialogContent').load(url, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
    }

    </script>

    <style>
        .k-window-titlebar {
            margin-top: -30px;
            height: 30px;
        }

        hr {
            margin: 5px 0;
        }
    </style>

    <script type="text/javascript">
        $(function () {

            //Optional: turn the chache off
            $.ajaxSetup({ cache: false });

            $("#btnEdit").click(function () {

                // alert("");
                $('#dialogContent').load(this.href, function () {
                    $('#dialogDiv').modal({
                        backdrop: 'static',
                        keyboard: true
                    }, 'show');
                    //bindForm(this);
                    $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
                });
                return false;
            });

        });
    </script>
