@model Cats.Models.Hubs.ViewModels.StackEventViewModel
@using Cats.Models.Hubs
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Stack Events");
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Stack Events");
    ViewBag.PageTitleDescription = "";
}

<div class="well">
    <div class="row">
        <div class="col-md-3 form-group">
            <div class="col-md-4 control-label">@Html.LabelFor(model => model.Stores)</div>
            <div class="col-md-8">@(Html.Telerik().ComboBoxFor(model => model.Stores)
                                    .Name("StoreId")
                                    .BindTo(new SelectList(Model.Stores, "StoreId", "StoreName"))
                                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                                    .HighlightFirstMatch(true)
                                    .CascadeTo("StackId")
            )</div>
        </div>
        <div class="col-md-3 form-group">
            <div class="col-md-4 control-label">@Html.LabelFor(model => model.Stacks)</div>
            <div class="col-md-8">@(Html.Telerik().ComboBoxFor(model => model.Stacks)
                                    .Name("StackId")
                                    .BindTo(new SelectList(Model.Stacks))
                                    .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                                    .HighlightFirstMatch(true)
                                    .DataBinding(binding => binding.Ajax().Select("GetStacksFromStore", "StackEvent"))
                                    .ClientEvents(ev => ev.OnChange("onStackChange"))
            )</div>
        </div>
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green-sharp">
            <i class="icon-list font-green-sharp"></i>
            <span class="caption-subject bold uppercase"> @Html.Translate("Basic Stack Events")</span>
        </div>
        <div class="tools">
            <a href="#" class="collapse" data-original-title="" title=""></a>
        </div>
        <div class="actions">
            <a class="btn btn-icon-only btn-default fullscreen"></a>
        </div>
    </div>
    <div class="portlet-body">
        @{
            Html.Telerik().TabStrip()
                .Name("StackEvent")
                .Items(parent =>
                {
                    parent.Add()
                        .Text("Event Log")
                        .LoadContentFrom("EventLog", "StackEvent")
                        .Selected(true);
                    @*  parent.Add()
                        .Text("Stack Card")
                        .Content(@<text>loading....</text>);*@
                })
                .Render();
        }


    </div>
</div>


 <script type="text/javascript">
     function onStackChange(e) {
//         var tabStrip = $("#StackEvent").data("tTabStrip");
//         var item = $("li", tabStrip.element)[$("#ItemIndex").val()];
//         alert("Dude");
         //         $("#EventLogContent").load("/StackEvent/EventLog/", {});
         $("#EventGrid").data("tGrid").rebind();
         $("#addNewEvent").attr('disabled', false);
     }


     function dataBinding(args) {
         if ($("#StackId").data("tComboBox") != null) {
             var StackId = $("#StackId").data("tComboBox").value();
             var StoreId = $("#StoreId").data("tComboBox").value();
             args.data = $.extend(args.data, { StackId: StackId, StoreId: StoreId });
         }
     }
 </script>

