@using Cats.Areas.EarlyWarning.Models
@using Cats.Helpers
@using Cats.Models
@using Cats.Security
@using Cats.Services.Security
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@using Cats.Models.Constant
@model ICollection<Cats.Models.Plan>
    @{
        ViewBag.Title = "NeedAssessmentPlan";
        int index = 0;
        const string PAGE_NAME = "EarlyWarning.Index";
        Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";

        if (ViewBag.AssessmentStatus == "Approved") { ViewBag.PageTitle = Html.Translate("Approved Need Assessments");}

        else if (ViewBag.AssessmentStatus == "HRDCreated") { ViewBag.PageTitle = Html.Translate("HRD Created Need Assessments");}

        else { ViewBag.PageTitle = Html.Translate("Draft Need Assessments");}

        ViewBag.PageTitleDescription = "";
            //ViewBag._id = "draft";
    }
<div class="row">
        @Html.Partial("_NeedAssessmentMainLeftBar", new System.Web.Mvc.ViewDataDictionary { { "_id", @ViewBag.AssessmentStatus } })

    <div class="col-md-9  col-sm-9">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-list font-green-sharp"></i>
                    <span class="caption-subject bold uppercase"> @Html.Translate("Need Assessments")</span>
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title=""></a>
                </div>
                <div class="actions">
                    @if (UserAccountHelper.EarlyWarningPsnpOperationCheck(EarlyWarningConstants.Operation.Create_new_needs_assessment))
                    {
                        <a href="@Url.Action("CreateNeedAssessment", "NeedAssessment", new {Area = "EarlyWarning"})" class="btn green" btn-success=""
                            data-buttontype="btn_new_record"><i class="fa fa-plus"></i> @Html.Translate("New Need Assessment Plan")</a>
                    }
                    @*<a class="btn btn-icon-only btn-default fullscreen"></a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive" style="overflow:visible !important;">
                    <table class="table table-striped table-condensed ">
                        <thead>
                            <tr>
                                <th>Assessment Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Plan item in Model)
                                                {
                                                    index++;
                                                    var state = item.BusinessProcess.CurrentState.BaseStateTemplate;
                                                    //if (state.Name == "Approved by finance" || state.Name == "Cheque Issued" || state.Name == "Cheque Cashed")
                                                    //{
                                            <tr>
                                                <td>
                                                    @if (UserAccountHelper.EarlyWarningPsnpOperationCheck(EarlyWarningConstants.Operation.View_Need_Assessment_Detail) || UserAccountHelper.RegionalOperationCheck(RegionalConstants.Operation.View_Need_Assessment_Detail))
                                                            {
                                                        <a href='@Url.Action("Detail", "NeedAssessment", new {id = item.PlanID})'> @item.PlanName </a>
                                                            }
                                                            else
                                                            {
                                                        @item.PlanName
                                                            }
                                                </td>
                                                <td>
                                                    @item.StartDate
                                                </td>
                                                <td>
                                                    @item.EndDate
                                                </td>
                                                <td>
                                                    @state.Name
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" id="action_@index" class="btn btn-default dropdown-toggle btn-xs green-stripe" data-toggle="dropdown">
                                                            <i class="fa fa-ellipsis-horizontal"></i> @Html.Translate("Workflow") <i class="fa fa-angle-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right">
                                                            @foreach (FlowTemplate actions in state.InitialStateFlowTemplates)
                                                                    {
                                                                        if (UserAccountHelper.EarlyWarningPsnpOperationCheck(EarlyWarningConstants.Operation.Approve_Need_Assessment) && actions.Name == "Approve" && @item.NeedAssessmentCreated)
                                                                        {
                                                                <li class="edit_button"><a href="javascript:promot_workflow(@item.BusinessProcessID ,@actions.FinalStateID,'@actions.Name',@item.PlanID)" title="@actions.Name">@actions.Name</a></li>
                                                                        }
                                                                    }
                                                            <li class="divider"></li>
                                                            @if (UserAccountHelper.EarlyWarningPsnpOperationCheck(EarlyWarningConstants.Operation.View_Need_Assessment_Detail))
                                                                    {
                                                                <li class="edit_button"><a href="javascript:workflow_history(@item.BusinessProcessID)"> History </a></li>
                                                                    }
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                                    //}

                                                }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="cats-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">@Html.Translate("Approve Need Assesssment")</h4>
            </div>


            <div class="modal-body">

                <p>
                    @Html.Translate("Are you sure do you want to approve Need Assesssment?")
                </p>

            </div>
            <div class="modal-footer">
                <button id="yes" class="btn btn-primary" type="submit">@Html.Translate("Yes") </button>
                <button id="no" class="btn" data-dismiss="modal" aria-hidden="true">@Html.Translate("No") </button>
            </div>


        </div>
    </div>
</div>

<div id="modalHistory" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 id="modalHistoryLabel">Activity History</h4>
            </div>
            <div class="modal-body" id="modalHistoryBody">History</div>

        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_PromotWorkflow.cshtml")

<script>
var history_link = "@Url.Action("History", "BusinessProcess", new { Area = "WorkflowManager", id = "0" })";

function promot_workflow(BusinessProcessID, nextstate, actionname, PlanID) {
    //alert(PaymentRequestID);
    $('#ParentBusinessProcessID').val(BusinessProcessID);
    $('#stateID').val(nextstate);
    $('#modalPromotionLabel').html(actionname);
    $('#TransporterChequeID').val(TransporterChequeID);
    $('#modalPromotion').modal();
    $.ajax({
        type: "POST",
        url: "@Url.Action("ApproveNeedAssessment", "NeedAssessment")",
        data: "{id:" + PlanID + "}",
        dataType: json
    });
}
function workflow_history(BusinessProcessID) {
    $('#modalHistory').modal();
    $('#modalHistoryBody').html("<div style='text-align:center;'> <img src='/content/images/loading.gif'/></div>");
    $.post(history_link + BusinessProcessID, {},
        function (data) {
            $("#modalHistoryBody").html(data);
        }
    );
}

function onDataBound(e) {

    $(".table-responsive .k-button").removeClass("k-button").addClass("btn btn-xs mrgn3-b col-md-11");
    $(".k-grid-Edit").addClass("btn-warning");
    $(".k-grid-Approve").addClass("btn-success");
    $(".k-grid-Summary").addClass("btn-primary");
}

</script>


<script>
    function approveNeedAssessment(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        $('#cats-modal').modal('show');
        console.log("@Url.Action("ApproveNeedAssessment", "NeedAssessment")" + "/" + dataItem.PlanID);
        $("#yes").click(function () {
            window.location = "@Url.Action("ApproveNeedAssessment", "NeedAssessment")" + "/" + dataItem.PlanID;

        });

    }
    </script>
