@using Cats.Helpers


@model  System.Data.DataTable

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
    const string PAGE_NAME = "Logistics.Index";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Logistics Dashboard");
    ViewBag.PageTitleDescription = "";

    #region Data Activity Indicator ViewBags

    //Data Activity Indicator uses ViewBag.PageName to get  Workflows configured for the page
    ViewBag.PageName = Cats.Services.Workflows.Constants.LogisticsPage;

    #endregion

}

@{
    var ben = new[] { 0.0, 0.0, 0.0, 0.0, 0.0, 0.0 };
    int index = 0;
}
<style>
    .portlet .dashboard-stat:last-child {
        margin-bottom: 25px;
    }

    .loading-spnr-round {
        position: absolute;
        top: 20%;
        left: 50%;
        display: none;
        z-index: 9;
    }

    .loading-spnr-da {
        position: absolute;
        top: 35%;
        left: 50%;
        display: none;
        z-index: 9;
    }

    td.number.ng-binding {
        text-align: center;
    }

    .align-center {
        text-align: center;
    }
</style>


<div ng-app='myApp'>

    <div class="">
        <div class="portlet solid bordered " ng-controller="ImportantNumbers">
            <div class="portlet-title">
                <div class="">
                    <div class="row" ng-controller="Regions" ng-cloak>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="idregionid" ng-change="onChange(regionName)" ng-model="regionName" ng-options="r.name as r.name for r in regions">
                                    <option value=''> Select a Region </option>
                                </select>
                                <label for="idregionid">Region: </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="idprogramid" ng-change="onRequestTypeChange(requestName)" ng-model="requestName" ng-options="p.name as p.name for p in requestType">
                                    <option value=''>All</option>
                                </select>
                                <label for="idprogramid">Program: </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="actions">

                </div>
            </div>
            <div class="portlet-body">
                <div @*style="margin: 20px 0 10px 30px"*@>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="dashboard-stat green-haze">
                                <div class="visual">
                                    <i class="fa fa-archive"></i>
                                </div>
                                <div class="details">
                                    <div class="number" ng-cloak>{{DonationAmount}}</div>
                                    <div class="desc">Donation(s)</div>
                                </div><a class="more" href="#">.</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="dashboard-stat green-haze">
                                <div class="visual"><i class="fa fa-truck"></i></div>
                                <div class="details">
                                    <div class="number" ng-cloak>{{pendingTransportOrder}}</div>
                                    <div class="desc">transport Requisition(s)</div>
                                </div><a class="more" href="#">.</a>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="dashboard-stat green-haze">
                                <div class="visual"><i class="fa fa-envelope-square"></i></div>
                                <div class="details">
                                    <div class="number" ng-cloak>{{pendingSIPCAllocation}}</div>
                                    <div class="desc">SI/PC Assigned</div>
                                </div><a class="more" href="#">.</a>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="dashboard-stat green-haze">
                                <div class="visual"><i class="fa fa-home"></i></div>
                                <div class="details">
                                    <div class="number" ng-cloak>{{pendingHubAloocation}}</div>
                                    <div class="desc">Hub Assigned</div>
                                </div><a class="more" href="#">.</a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="dashboard-stat green-haze">
                                <div class="visual"><i class="fa fa-check"></i></div>
                                <div class="details">
                                    <div class="number" ng-cloak>{{totalApproved }}</div>
                                    <div class="desc">Approved Requests</div>
                                </div><a class="more" href="#">.</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.Partial("_DataActivityIndicator")

    <div class="">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-solid box-primary" ng-controller="DispatchAllocationIndicatorController">
                    <div class="portlet light bordered bg-inverse">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Dispatch Allocation Data Entry Indicator")</div>
                            <div class="tools">
                                <a href="#" class="collapse" data-original-title="" title=""></a>
                            </div>
                            <div class="actions">
                                <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive" style="overflow-x: hidden; min-height: 250px;">
                                <div class="row form-horizontal ">
                                    <div class="col-md-3 form-group">
                                        <label class="control-label col-md-6">Round</label>
                                        <div class="col-md-5">
                                            <!--
                                            <select ng-model="round" class="form-control">
                                                <option ng-repeat="rnd in rounds" value="{{rnd}}">{{rnd}}</option>
                                            </select>-->
                                            <select class="form-control" id="rounds" ng-model="round" ng-options="r as r for r in rounds"></select>
                                            <span class="loading-spnr-round round-filter-ldng"><img src="~/Content/images/loading.gif" alt="loading..." class="loading-spinner"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="control-label col-md-6">Start Date</label>
                                        <div class="col-md-6">
                                            <input id="startDate" class="cats-datepicker2  form-control" type="text" placeholder="mm/dd/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="control-label col-md-6">End Date</label>
                                        <div class="col-md-6">
                                            <input id="endDate" class="cats-datepicker2 form-control" type="text" placeholder="mm/dd/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <div class="col-md-5">
                                            <button type="button" class="btn green " ng-click="getDispatchAllocationIndicator()">Get</button>
                                        </div>
                                    </div>
                                </div>
                                <span class="loading-spnr-da da-data-indicator-ldng"><img src="~/Content/images/loading.gif" alt="loading..." class="loading-spinner"></span>
                                <div class="col-md-12">
                                    <table class="table table-striped table-checkable">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Region</th>
                                                <th class="number">Estimated Requisitions</th>
                                                <th class="number">Approved Requisitions</th>
                                                <th class="number">Hub Allocated Requisitions</th>
                                                <th class="number">SIPC Allocated Requisitions</th>
                                                <th class="number">Committed Requisitions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="region in DispatchAllocationIndicator">
                                                <td>{{region.RegionName}}</td>
                                                <td class="number">{{region.NumberOfEstimatedRequisitions|number}}</td>
                                                <td class="number">{{region.NumberOfApprovedRequisitions|number}}</td>
                                                <td class="number">{{region.NumberOfHubAllocatedRequisitions|number}}</td>
                                                <td class="number">{{region.NumberOfSipcAlloRequisitions|number}}</td>
                                                <td class="number">{{region.NumberOfCommitedRequisitions|number}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total:</td>
                                                <td class="number">{{TotalNumberOfEstimatedRequisitions}}</td>
                                                <td class="number">{{TotalNumberOfApprovedRequisitions}}</td>
                                                <td class="number">{{TotalNumberOfHubAllocatedRequisitions}}</td>
                                                <td class="number">{{TotalNumberOfSipcAlloRequisitions}}</td>
                                                <td class="number">{{TotalNumberOfCommitedRequisitions}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @*<div class="col-md-4" style="min-height: 250px;">
                                        <div class="portlet-content">
                                            <div id="containerPIE" class="chartWrap" draw-column-chart=""></div>
                                        </div>
                                    </div>*@
                                <div class="col-md-12">* Only requisitions under the current HRD "{{HrdName}}" are listed here.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-solid box-primary" ng-controller="BidPlanningIndicatorController">
                    <div class="portlet light bordered bg-inverse">
                        <div class="portlet-title">
                            <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Bid Planning Data Entry Indicator")</div>
                            <div class="tools">
                                <a href="#" class="collapse" data-original-title="" title=""></a>
                            </div>
                            <div class="actions">
                                <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-responsive" style="overflow-x: hidden; min-height: 250px;">
                                @*<div class="row form-horizontal ">
                                        <div class="col-md-3 form-group">
                                            <label class="control-label col-md-6">User</label>
                                            <div class="col-md-5">
                                             <select class="form-control" id="lgusers" ng-model="lguser" ng-options="u as u for u in lgusers"></select>
                                                <select id="lgusers" ng-model="lguser" class="form-control">
                                                    <option ng-repeat="lguser in lgusers" value="{{lguser.UserProfileId}}">{{lguser.UserName}}</option>
                                                </select>
                                                <span class="loading-spnr-round user-filter-ldng"><img src="~/Content/images/loading.gif" alt="loading..." class="loading-spinner"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label class="control-label col-md-6">Start Date</label>
                                            <div class="col-md-6">
                                                <input id="startDateBidPlan" class="cats-datepicker2  form-control" type="text" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label class="control-label col-md-6">End Date</label>
                                            <div class="col-md-6">
                                                <input id="endDateBidPlan" class="cats-datepicker2 form-control" type="text" placeholder="mm/dd/yyyy">
                                            </div>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <div class="col-md-5">
                                                <button type="button" class="btn green " ng-click="getBidPlanningIndicator()">Get</button>
                                            </div>
                                        </div>
                                    </div>*@
                                <span class="loading-spnr-da bp-data-indicator-ldng"><img src="~/Content/images/loading.gif" alt="loading..." class=""></span>
                                <div class="col-md-12">
                                    <table class="table table-striped table-checkable">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs align-center">Region</th>
                                                <th class="number align-center">Number of Woredas</th>
                                                <th class="number align-center">Hub Assigned Woredas</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="region in BidPlanningIndicator">
                                                <td class="align-center">{{region.Region}}</td>
                                                <td class="number align-center">{{region.NumberOfWoredas|number}}</td>
                                                <td class="number align-center">{{region.NumberOfHubAssignedWoredas|number}}</td>
                                            </tr>
                                            <tr>
                                                <td class="align-center">Total:</td>
                                                <td class="number align-center">{{TotalNumberOfEstimatedRequisitions}}</td>
                                                <td class="number align-center">{{TotalNumberOfApprovedRequisitions}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">* Warehouses assigned for Bid Plan "{{BidPlanName}}" are listed here.</div>


                            </div>
                        </div>
                    </div>
                </div>

                <div id="ApprovedRequestContent">
                    <div ng-controller="ApprovedRequestsController">
                        <div class="portlet light bordered bg-inverse">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Approved Requests")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    <a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Detail")</a>
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Number</th>
                                                <th>Req No</th>
                                                <th>Zone</th>
                                                <th>Round</th>
                                                <th>Year</th>
                                                <th>Month</th>
                                                <th class="number">Beneficiaries</th>
                                                <th class="number">Amount(mt)</th>
                                                <th>Commodity</th>
                                                <th></th>
                                                <th class="align-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in requests.request   | filter:{RegionName:regionName  }  | limitTo:5" ng-cloak>
                                                <td class="hidden-xs">{{$index + 1}}</td>
                                                <td>{{req.reqNo}}</td>
                                                <td>{{req.zone}}</td>
                                                <td>{{req.round}}</td>
                                                <td>{{req.year}}</td>
                                                <td>{{req.month}}</td>
                                                <td class="number">{{req.beneficiaries | number}}</td>
                                                <td class="number">{{req.amount | number}}</td>
                                                <td>{{req.commodity}}</td>
                                                <td><span class="label label-danger label-sm">Pending</span></td>
                                                <td class="align-center">
                                                    <a class="btn btn-xs default green-sharp-stripe" data-original-title="Approve" ng-click="assignHub(req)"> Assign Hub </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="CurrentHRDContent">
                    <div ng-controller="CurrentHRDController">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Current HRD")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    @*<a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Detail")</a>*@
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>

                                                @foreach (System.Data.DataColumn col in Model.Columns)
                                                {
                                                    if (col.IsNumeric())
                                                    {
                                                        <th class="number">@col.Caption </th>
                                                    }
                                                    else
                                                    {
                                                        <th>@col.Caption </th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (System.Data.DataRow row in Model.Rows)
                                            {
                                                <tr>
                                                    @{ index = 0; }
                                                    @foreach (var cell in row.ItemArray)
                                                    {
                                                        if (cell is decimal || cell is int)
                                                        {
                                                            ben[index] = ben[index] + double.Parse(@String.Format("{0:n0}", @cell));
                                                            index++;
                                                            <td class="number">@String.Format("{0:n0}", @cell)</td>
                                                        }
                                                        else
                                                        {
                                                            <td>@String.Format("{0:n0}", @cell)</td>

                                                        }

                                                    }
                                                </tr>

                                                        }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="number">Total:</th>
                                                @foreach (double t in @ben)
                                                {
                                                    <th class="number">@String.Format("{0:n0}", @t) </th>
                                                }
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.portlet-content -->

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="BidWinnerContent">
                    <div ng-controller="BidWinnersController">
                        <div class="portlet light bordered bg-inverse">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Bid Winners")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    @*<a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Detail")</a>*@
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-md-line-input">
                                            <select class="form-control" id="bid4bidwinner" ng-change="onChange(bid)" ng-model="bid" ng-options="bid.BidNo as bid.BidNo for bid in bids">
                                                <option> Choose a Bid </option>
                                            </select>
                                            <label for="bid4bidwinner">BID: </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Number</th>
                                                <th>Transporter Name</th>
                                                <th>Capital</th>
                                                <th>Sub City</th>
                                                <th>Mobile No</th>
                                                <th>FDP</th>
                                                <th>Zone</th>
                                                <th>Region</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in bidWinners.bid | filter:{RegioName:regionName}" ng-cloak>
                                                <td class="hidden-xs">{{$index + 1}}</td>
                                                <td>{{req.Name}}</td>
                                                <td>{{req.Capital}}</td>
                                                <td>{{req.SubCity}}</td>
                                                <th>{{req.MobileNo}}</th>
                                                <th>{{req.Fdp}}</th>
                                                <th>{{req.ZoneName}}</th>
                                                <th>{{req.RegioName}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.portlet-content -->

                        </div>
                    </div>
                </div>
            </div>
            <!--UI Region for bid winners with date expired without signing a contract-->
            <div class="col-md-12">
                <div id="UnContractedBidWinnersContent">
                    <div ng-controller="UnContractedBidWinnersController">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Un Contracted Bid Winners")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    <a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Detail")</a>
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-md-line-input">
                                            <select class="form-control" id="bid4uncontractedbidwinners" ng-change="onChange(bid)" ng-model="bid" ng-options="bid.BidNo as bid.BidNo for bid in bids">
                                                <option> Choose a Bid </option>
                                            </select>
                                            <label for="bid4uncontractedbidwinners">BID: </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Number</th>
                                                <th>Transporter Name</th>
                                                <th>Capital</th>
                                                <th>Sub City</th>
                                                <th>Mobile No</th>
                                                <th>FDP</th>
                                                <th>Zone</th>
                                                <th>Region</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in bidWinners.bid | filter:{RegioName:regionName}" ng-cloak>
                                                <td class="hidden-xs">{{$index + 1}}</td>
                                                <td>{{req.Name}}</td>
                                                <td>{{req.Capital}}</td>
                                                <td>{{req.SubCity}}</td>
                                                <th>{{req.MobileNo}}</th>
                                                <th>{{req.Fdp}}</th>
                                                <th>{{req.ZoneName}}</th>
                                                <th>{{req.RegioName}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Added by Nigus-->
            <!--UI Region for bid winners with date expired without signing a contract-->
            @*<div class="col-md-12">
                    <div id="IncommingGRNContent">
                        <div ng-controller="IncommingGRNController">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Incomming GRN")</div>
                                    <div class="tools">
                                        <a href="#" class="collapse" data-original-title="" title=""></a>
                                    </div>
                                    <div class="actions">
                                        <input type="text" id="hiddenTransporterIdValue" name="myText" style="display:none">
                                        <a class="btn green" onclick="DetailGRN()"><i class="fa fa-list"></i> @Html.Translate("Detail")</a>
                                        <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-md-line-input">
                                                <select class="form-control" id="incommingGRN" ng-change="onChange(transporter)" ng-model="transporter" ng-options="transporter.TransporterId as transporter.name for transporter in transporters">
                                                    <option> Choose a Transporter </option>
                                                </select>
                                                <label for="incommingGRN">Transporter: </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="tableIncommingGRN" class="table table-striped table-checkable">
                                            <thead>
                                                <tr>
                                                    <th class="hidden-xs">Number</th>
                                                    <th>Dispatch Date</th>
                                                    <th>GIN</th>
                                                    <th>Dispatched by Store Man</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="req in IncommingGRNs.GRN" >
                                                    <td class="hidden-xs">{{$index + 1}}</td>
                                                    <td>{{req.DispatchDate}}</td>
                                                    <td>{{req.GIN}}</td>
                                                    <th>{{req.DispatchedByStoreMan}}</th>
                                                    <th>{{req.DispatchID}}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                     /.table-responsive
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@


            <div class="col-md-12 column " ng-controller="IncommingGrnController">

                <div class="portlet light bordered ">
                    <div class="portlet-title">
                        <div class="caption font-green-sharp"><i class="fa fa-car font-green-sharp"></i> @Html.Translate("Incomming Grns")</div>
                        <div class="tools">
                            <a href="#" class="collapse" data-original-title="" title=""></a>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-responsive" style="overflow-x: hidden; min-height: 250px;">
                            <div class="row form-horizontal ">
                                <div class="col-md-3 form-group">
                                    <label class="control-label col-md-6">Start Date</label>
                                    <div class="col-md-6">
                                        <input id="startDateIncommingGrn" class="cats-datepicker2  form-control" type="text" placeholder="mm/dd/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="control-label col-md-6">End Date</label>
                                    <div class="col-md-6">
                                        <input id="endDateIncommingGrn" class="cats-datepicker2 form-control" type="text" placeholder="mm/dd/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="control-label col-md-4">Transporter</label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="idTransporterid" ng-change="onChange(transporterValue)" ng-model="transporterValue" ng-options="r.name as r.name for r in Transporters">
                                            <option value=''> Select Transporter </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <!--<label class="control-label col-md-8">Enter number of records to view</label>-->
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Enter number of records to view" class="form-control" id="takeFirstId" ng-model="search.transportOrderNo" value="10" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tableIncommingGRN" class="table table-striped table-checkable">
                                        <thead>
                                            <tr>
                                                @*<th class="hidden-xs">Number</th>*@
                                                <th>Received Date</th>
                                                <th>Requisition No.</th>
                                                <th>Grn</th>
                                                <th>Driver Name</th>
                                                <th>@*Received By*@</th>
                                                <th>Plate No. Prime</th>
                                                <th>Plate No. Trailer</th>
                                                <th>Delivery Date</th>
                                                <th>FDP</th>
                                                <th>Bill No.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in IncommingGrns">
                                                @*<td class="hidden-xs">{{$index + 1}}</td>*@
                                                <td>{{req.ReceivedDate}}</td>
                                                <th>{{req.RequisitionNo}}</th>
                                                <td>{{req.ReceivingNumber}}</td>
                                                <td>{{req.GIN}}</td>
                                                <th>{{req.DriverName}}</th>
                                                <td>@*{{req.ReceivedBy}}*@</td>
                                                <td>{{req.PlateNoPrimary}}</td>
                                                <th>{{req.PlateNoTrailler}}</th>
                                                <th>{{req.DeliveryDate}}</th>
                                                <th>{{req.FdpName}}</th>
                                                <th>{{req.BillNumber}}</th>
                                                @*<th>{{req.DispatchID}}</th>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-12">
                <div id="SIPCContent">
                    <div ng-controller="SIPCController">
                        <div class="portlet light bordered bg-inverse">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Requistions to be SI Allocated")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    <a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Show more")</a>
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Number</th>
                                                <th>Req No</th>
                                                <th>Program</th>
                                                <th>Zone</th>
                                                <th class="number">Beneficiaries</th>
                                                <th class="number">Amount</th>
                                                <th>Commodity</th>
                                                <th>Allocation Type</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in requestsSIPCAllocated.request  |  filter:{RegionName:regionName} | limitTo:2 " ng-cloak>
                                                <td class="hidden-xs">{{$index + 1}}</td>
                                                <td>{{req.reqNo}}</td>
                                                <td>{{req.program}}</td>
                                                <td>{{req.zone}}</td>
                                                <th class="number">{{req.beneficiaries | number}}</th>
                                                <th class="number">{{req.amount | number}}</th>
                                                <th>{{req.commodity}}</th>
                                                <th>{{req.allocationType}}</th>



                                                <td><span class="label label-danger">Pending</span></td>
                                                @*<td class="align-center">
                                                        <a class="btn btn-sm btn-default" data-original-title="Approve">Create Transport Requisition</a>
                                                    </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="TransportOrderContent">
                    <div ng-controller="TransportOrderController">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Transporters")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    @*<a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Show more")</a>*@
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-md-line-input">
                                            <input type="text" class="form-control" id="serachto" ng-model="search.transportOrderNo" placeholder="Enter Transport Order Number">
                                            <label for="serachto">Search by Transport order</label>
                                        </div>
                                    </div>
                                </div>
                                <table id="" class="table table-striped table-checkable">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Transporter</th>
                                            <th>Tranport Order</th>
                                            <th>Region</th>
                                            <th>Zone</th>
                                            <th>Mobile No</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in TransportOrder | filter:search " ng-cloak>
                                            <td class="hidden-xs">{{$index + 1}}</td>
                                            <td>{{req.name}}</td>
                                            <td>{{req.transportOrderNo}}</td>
                                            <th>{{req.region}}</th>
                                            <th>{{req.zone}}</th>
                                            <th>{{req.mobileNo}}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="DelayedTransportContent">
                    <div ng-controller="DelayedTransportController">
                        <div class="portlet light bordered bg-inverse">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Delayed Transporters")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    @*<a class="btn green" ng-click="Detail()"><i class="fa fa-list"></i> @Html.Translate("Show more")</a>*@
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Number</th>
                                                <th>Transporter</th>
                                                <th>Transport Order</th>
                                                <th>Signed Date</th>
                                                <th>Order Expired Date</th>
                                                <th>Days Passed After Signed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in DelayedTransportOrders.request | orderBy:'-DaysPassedAfterSigned'" ng-cloak>
                                                <td class="hidden-xs">{{$index + 1}}</td>
                                                <td>{{req.TransporterName}}</td>
                                                <td>{{req.TransportOrderNo}}</td>
                                                <th>{{req.SignedDate}}</th>
                                                <th>{{req.OrderExpiryDate}}</th>
                                                <th>{{req.DaysPassedAfterSigned | number}}</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="NonReportedTransportContent">
                    <div ng-controller="NonReportedTransportController">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Transporters which did not report back completely to DRMFSS")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    <a href="@Url.Action("NoneReportedTransporters", "Home")" class="btn green"><i class="fa fa-list"></i> @Html.Translate("Show Details")</a>
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <table id="" class="table table-striped table-checkable table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">Number</th>
                                            <th>Transporter</th>
                                            <th>Bid Number</th>
                                            <th>FDP</th>
                                            <th>Dispatched Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="req in NonReportedTransporters.request | orderBy:'-DaysPassedAfterSigned' | limitTo:10" ng-cloak>
                                            <td class="hidden-xs">{{$index + 1}}</td>
                                            <td>{{req.TransporterName}}</td>
                                            <td>{{req.BidNo}}</td>
                                            <td>{{req.FDPName}}</td>
                                            <td>{{req.DispatchedDate}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="TransportRequisitionContent">
                    <div ng-controller="TransportRequisitionController">
                        <div class="portlet light bordered bg-inverse">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Current Transport Requisition")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    <a href="@Url.Action("NoneReportedTransporters", "Home")" class="btn green"><i class="fa fa-list"></i> @Html.Translate("Show More")</a>
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>
                                                <th class="hidden-xs">Number</th>
                                                <th>Req No</th>
                                                <th>Zone</th>
                                                <th class="number">Beneficiaries</th>
                                                <th class="number">Amount</th>
                                                <th>Commodity</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in TransportRequestion.request | filter:{RegionName:regionName} | limitTo:2" ng-cloak>
                                                <td class="hidden-xs">{{$index + 1}}</td>
                                                <td>{{req.reqNo}}</td>
                                                <td>{{req.zone}}</td>
                                                <td class="number">{{req.beneficiaries}}</td>
                                                <td class="number">{{req.amount}}</td>
                                                <td>{{req.commodity}}</td>
                                                <td><span class="label label-default label-sm">On process</span></td>
                                                <td><a href="javascript:;" class="btn default btn-xs green-sharp-stripe">View <i class="icon-chevron-right"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div id="DispatchAllocationContent">
                    <div ng-controller="SummaryController">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-green-sharp"><i class="fa fa-list font-green-sharp"></i> @Html.Translate("Hubs Dispatch Allocation")</div>
                                <div class="tools">
                                    <a href="#" class="collapse" data-original-title="" title=""></a>
                                </div>
                                <div class="actions">
                                    @*<a class="btn green"><i class="fa fa-list"></i> @Html.Translate("Show More")</a>*@
                                    <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row form-horizontal ">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-6">Select As of Date</label>
                                        <div class="col-md-6">
                                            <input id="txtDate1" class="cats-datepicker2  form-control" type="text" placeholder="mm/dd/yyyy">
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label col-md-6">Select a Program</label>
                                        <div class="col-md-5">
                                            <select ng-model="reqParam.program" class="form-control">
                                                <option ng-repeat="pr in ProgramsCollection" value="{{pr.ProgramId}}">{{pr.Name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <div class="col-md-5">
                                            <button type="button" class="btn green " ng-click="getSummary()">Get</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="" class="table table-striped table-checkable table-condensed">
                                        <thead>
                                            <tr>
                                                <th>HUb</th>
                                                <th class="number">Total Free Stock</th>
                                                <th class="number">Total Physical Stock</th>
                                                <th class="number">Dispatched</th>
                                                <th class="number">Remaining</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sd in summaryData" ng-cloak>
                                                <td>{{sd.HubName}}</td>
                                                <td class="number">{{sd.TotalFreestock |number:2}}</td>
                                                <td class="number">{{sd.TotalPhysicalStock |number:2}}</td>
                                                <td class="number">{{sd.DispatchedAmount |number:2}}</td>
                                                <td class="number">{{sd.Remaining |number:2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .portlet .collapser .down {
        display: none;
    }

    .portlet-collapsed .collapser .down {
        display: inline-block;
    }

    .portlet-collapsed .collapser .up {
        display: none;
    }

    .collapser, .collapser :hover, .collapser:active, .collapser:visited {
        text-decoration: none;
    }

        .collapser :hover {
            /*background:#ffd800;*/
        }

    .portlet-collapsed .portlet-content {
    }

    .hovered {
    }
</style>


<script>
    $(".portlet").hover(function () { $(this).addClass("hovered"); });
    $(".portlet").mouseleave(function () { $(this).removeClass("hovered"); });

    $(".portlet-header h3").each(function (elem) {
        $(this).html("<a class='collapser' href=''><i class='icon-chevron-down down'/><i class='icon-chevron-up up'/></a>" + $(this).html());

    });
    $(".portlet-header .collapser").click(function (elem) {
        //alert();
        $(".hovered").toggleClass("portlet-collapsed");
        $(".hovered .portlet-content").slideToggle("slow", "linear");;

    });

    $("#ApprovedRequestHeader").click(function () {
        $("#ApprovedRequestContent").slideToggle("slow", "linear");
    });

    $("#CurrentHRDHeader").click(function () {
        $("#CurrentHRDContent").slideToggle("slow", "linear");
    });



    $("#BidWinnersHeader").click(function () {
        $("#BidWinnerContent").slideToggle("slow", "linear");
    });

    $("#UnContractedBidWinnersHeader").click(function () {
        $("#UnContractedBidWinnersContent").slideToggle("slow", "linear");
    });

    $("#DelayedTransportHeader").click(function () {
        $("#DelayedTransportContent").slideToggle("slow", "linear");
    });

    $("#NonReportedTransportHeader").click(function () {
        $("#NonReportedTransportContent").slideToggle("slow", "linear");
    });


    $("#SIPCHeader").click(function () {
        $("#SIPCContent").slideToggle("slow", "linear");
    });

    $("#TransportRequisitionHeader").click(function () {
        $("#TransportRequisitionContent").slideToggle("slow", "linear");
    });

    $("#TransportOrderHeader").click(function () {
        $("#TransportOrderContent").slideToggle("slow", "linear");
    });

    $("#DelayedTransportHeader").click(function () {
        $("#TransportOrderContent").slideToggle("slow", "linear");
    });

</script>

<script>

    (function () {

        var myApp = angular.module('myApp', ['ngRoute', 'DataEntryIndicatorApp']);

        myApp.controller('ImportantNumbers', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {
                $rootScope.totalRequisitions = 0;
                $rootScope.totalApproved = 0;
                $rootScope.pendingHubAloocation = 0;
                $rootScope.pendingSIPCAllocation = 0;
                $rootScope.pendingTransportOrder = 0;
                $rootScope.DonationAmount = 0;
            }
        ]);

        myApp.controller('CurrentHRDController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

                $scope.qty = 6;
                $scope.currentHRD = {};
                $http({ method: 'GET', url: '@Url.Action("CurrentHrdRead", "Home")' }).success(function (data, status, headers, config) {
                    $.each(data, function (i, item) {

                        $scope.currentHRD[i] = item;
                    });

                });
                $rootScope.regionName = "";
            }
        ]);

        myApp.controller('BidWinnersController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


                $scope.bidWinners = {};
                $rootScope.regionName = "";

                $scope.bids = [];
                $http({ method: 'GET', url: '@Url.Action("GetBids", "Home")' }).success(function (data, status, headers, config) {
                    $scope.bids = data;
                });


                $scope.onChange = function (bidId) {

                    $http({ method: 'GET', params: { id: bidId }, url: '@Url.Action("GetListOfBidWinners", "Home")' }).success(function (data, status, headers, config) { $scope.bidWinners.bid = data; });
                };

            }
        ]);


        myApp.controller('UnContractedBidWinnersController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


                $scope.bidWinners = {};
                $rootScope.regionName = "";
                $rootScope.BidId = 0;
                $rootScope.Bidz = [];

                $scope.bids = [];
                $http({ method: 'GET', url: '@Url.Action("GetBids", "Home")' }).success(function (data, status, headers, config) {
                    $scope.bids = data;
                    $rootScope.Bidz = data;
                });

                $scope.onChange = function (bidId) {

                    var id = bidId;
                    for (var i = 0; i < $rootScope.Bidz.length; ++i) {
                        if ($rootScope.Bidz[i]["BidNo"] == id) {
                            $rootScope.BidId = $rootScope.Bidz[i]["BidId"];
                        }
                    }

                    $http({ method: 'GET', params: { id: bidId }, url: '@Url.Action("GetListOfUnContractedBidWinners", "Home")' }).success(function (data, status, headers, config) { $scope.bidWinners.bid = data; });
                };


                $scope.Detail = function (bid) {


                    //alert($rootScope.BidNo);

                    window.location = "@Url.Action("List", "UnContractedTransporters", new {Area = "Logistics"})" + "/" + $rootScope.BidId; //+ "/" + bidId ;


                };

            }
        ]);


        //Added by Nigus
        @*myApp.controller('IncommingGRNController', [
        '$scope', '$http', '$rootScope', function($scope, $http, $rootScope) {

            $scope.IncommingGRNs = {};
            $rootScope.regionName = "";
            $rootScope.TransporterId = 0;
            $scope.transporters = [];
            $rootScope.transporters2 = [];
            $http({ method: 'GET', url: '@Url.Action("GetTransporters2", "Home")' }).success(function(data, status, headers, config) {
                $scope.transporters = data;
                $rootScope.transporters2 = data;
            });


            $scope.onChange = function(transporterId) {
                $http({
                        method: 'GET',
                        params: { transporterID: transporterId },
                        url: '@Url.Action("PaymentRequests2", "TransporterPaymentRequest",new { Area = "Logistics" })'
                    })
                    .success(function(data, status, hstatus, headers, configeaders, config) {
                        $scope.IncommingGRNs.GRN = data;
                    }).error(function() {});

                $('#hiddenTransporterIdValue').val(transporterId);
            };

            $scope.Detail = function (transporterId) {
                window.location = "@Url.Action("PaymentRequests", "TransporterPaymentRequest", new {Area = "Logistics"})" + "?transporterID =" + transporterId; //+Transport "/" + bidId ;
            };
        }
    ]);*@

        myApp.controller('IncommingGrnController', [
    '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {
        $scope.Transporters = [];
        $scope.reqParam = { startDate: new Date(), endDate: new Date(), transporterName: '', takeTheFirst: 10 };
        $scope.IncommingGrns = [];

        var onIncommingGrns = function (data) {
            $scope.IncommingGrns = data;
        };

        $http({ method: 'GET', url: '@Url.Action("GetTransporters", "Home")' }).success(function (data, status, headers, config) { $scope.Transporters = data; })
            .error(function (data, status, headers, config) {
            });

        $scope.onChange = function (transporter) {
            $scope.reqParam.transporterName = transporter;
            $scope.reqParam.takeTheFirst = $("#takeFirstId").val();

            var takeTheFirst = $("#takeFirstId").val();
            $scope.reqParam.startDate = $("#startDateIncommingGrn").val();
            $scope.reqParam.endDate = $("#endDateIncommingGrn").val();

            if (takeTheFirst === '' || takeTheFirst == null) {
                $scope.reqParam.takeTheFirst = 10;
            }

            $http.post("@Url.Action("GetIncommingGrns", "Home", new {Area = "Logistics" })", $scope.reqParam).success(onIncommingGrns);
        };
    }]);


        myApp.controller('ApprovedRequestsController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

                $scope.qty = 6;
                $scope.requests = {};
                $http({ method: 'GET', url: '@Url.Action("GetRequisitions", "Home", new {id = 2})' })
                    .success(function (data, status, headers, config) {
                        $scope.requests.request = data;
                        console.log($scope.requests.request);
                    });
                $rootScope.regionName = "";
                $rootScope.requestType = "";


                $scope.assignHub = function (url) {

                    window.location = "@Url.Action("AssignHubFromLogisticsDashboard", "DispatchAllocation", new {Area = "Logistics"})" + "?paramRegionId=" + url.regionId;
                };

                $scope.Detail = function () {
                    window.location = "@Url.Action("Index", "DispatchAllocation", new {Area = "Logistics"})";
                };
            }
        ]);

        myApp.controller('HubAllocationController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {
                $scope.qty = 6;
                $scope.requestsApproved = {};
                $http({ method: 'GET', url: '@Url.Action("GetRequisitions", "Home", new {id = 3})' }).success(function (data, status, headers, config) { $scope.requestsApproved.request = data; })
                $rootScope.regionName = "";
            }
        ]);
        myApp.controller('SIPCController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

                $scope.qty = 6;
                $scope.requestsSIPCAllocated = {};
                $http({ method: 'GET', url: '@Url.Action("GetSiPcAllocation", "Home")' }).success(function (data, status, headers, config) {
                    $scope.requestsSIPCAllocated.request = data;
                    console.log(data);
                })
                    .error(function (data, status, headers, config) {
                    });


                $rootScope.regionName = "";
            }
        ]);


        myApp.controller('TransportOrderController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


                $scope.TransportOrder = [];
                $http({ method: 'GET', url: '@Url.Action("GetTransporters", "Home")' }).success(function (data, status, headers, config) {
                    $.each(data, function (i, item) {

                        $scope.TransportOrder[i] = item;

                    });

                });

            }
        ]);

        myApp.controller('DelayedTransportController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


                $scope.qty = 6;
                $scope.DelayedTransportOrders = {};
                $http({ method: 'GET', url: '@Url.Action("GetDelayedTOs", "Home")' }).success(function (data, status, headers, config) { $scope.DelayedTransportOrders.request = data; })
                    .error(function (data, status, headers, config) {

                    });

                $rootScope.regionName = "";
            }
        ]);

        myApp.controller('NonReportedTransportController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {


                $scope.qty = 6;
                $scope.NonReportedTransporters = {};
                $http({ method: 'GET', url: '@Url.Action("GetNonReportedTransporters", "Home")' }).success(function (data, status, headers, config) { $scope.NonReportedTransporters.request = data; })
                    .error(function (data, status, headers, config) {

                    });

                $rootScope.regionName = "";
            }
        ]);

        myApp.controller('TransportRequisitionController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

                $scope.qty = 6;
                $scope.TransportRequestion = {};
                $http({ method: 'GET', url: '@Url.Action("GetRequisitions", "Home", new {id = 5})' }).success(function (data, status, headers, config) { $scope.TransportRequestion.request = data; })
                    .error(function (data, status, headers, config) {

                    });

                $rootScope.regionName = "";
            }
        ]);


        myApp.controller('Regions', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

                $scope.regions = [];
                $scope.requestType = [];
                $rootScope.DonationAmount = [];
                $rootScope.DonationAmount = 0;
                $http({ method: 'GET', url: '@Url.Action("GetRegions", "Home")' }).success(function (data, status, headers, config) { $scope.regions = data; })
                    .error(function (data, status, headers, config) {

                    });


                $http({ method: 'GET', url: '@Url.Action("GetDonation", "Home")' })
                    .success(function (data, status, headers, config) { $rootScope.DonationAmount = data; })
                    .error(function (data, status, headers, config) {

                    });

                $http({ method: 'GET', url: '@Url.Action("GetRequestType", "Home")' })
                    .success(function (data, status, headers, config) { $scope.requestType = data; })
                    .error(function (data, status, headers, config) {

                    });

                $scope.onChange = function (name) {
                    $rootScope.regionName = name;

                    $http({ method: 'GET', params: { id: name }, url: '@Url.Action("ImportantNumbers", "Home")' }).success(function (data, status, headers, config) {

                        $rootScope.totalRequisitions = 0;
                        $rootScope.totalApproved = 0;
                        $rootScope.pendingHubAloocation = 0;
                        $rootScope.pendingSIPCAllocation = 0;
                        $rootScope.pendingTransportOrder = 0;

                        $.each(data, function (i, item) {

                            switch (item.Status) {
                                case 1:
                                    $rootScope.totalRequisitions = item.Count;
                                    break;
                                case 2:
                                    $rootScope.totalApproved = item.Count;
                                    break;
                                case 3:
                                    $rootScope.pendingHubAloocation = item.Count;
                                    break;
                                case 4:
                                    $rootScope.pendingSIPCAllocation = item.Count;
                                    break;
                                case 5:
                                    $rootScope.pendingTransportOrder = item.Count;
                                    break;
                                case 6:
                                    break;
                                default:
                            }

                        });


                    })
                        .error(function (data, status, headers, config) {

                        });
                };

                $scope.onRequestTypeChange = function (name) {
                    $rootScope.requestName = name;

                    $http({ method: 'GET', params: { id: $rootScope.regionName, requestName: name }, url: '@Url.Action("ImportantNumbers", "Home")' }).success(function (data, status, headers, config) {

                        $rootScope.totalRequisitions = 0;
                        $rootScope.totalApproved = 0;
                        $rootScope.pendingHubAloocation = 0;
                        $rootScope.pendingSIPCAllocation = 0;
                        $rootScope.pendingTransportOrder = 0;

                        $.each(data, function (i, item) {

                            switch (item.Status) {
                                case 1:
                                    $rootScope.totalRequisitions = item.Count;
                                    break;
                                case 2:
                                    $rootScope.totalApproved = item.Count;
                                    break;
                                case 3:
                                    $rootScope.pendingHubAloocation = item.Count;
                                    break;
                                case 4:
                                    $rootScope.pendingSIPCAllocation = item.Count;
                                    break;
                                case 5:
                                    $rootScope.pendingTransportOrder = item.Count;
                                    break;
                                case 6:
                                    break;
                                default:
                            }

                        });


                    })
                        .error(function (data, status, headers, config) {

                        });
                };

            }
        ]);


        myApp.factory("interceptors", [function () {

            return {

                // if beforeSend is defined call it
                'request': function (request) {

                    if (request.beforeSend)
                        request.beforeSend();

                    return request;
                },


                // if complete is defined call it
                'response': function (response) {

                    if (response.config.complete)
                        response.config.complete(response);

                    return response;
                }
            };

        }]);

        //myApp.config(["$routeProvider", "$httpProvider", function ($routeProvider, $httpProvider) {
        myApp.config(['$routeProvider', '$locationProvider', '$httpProvider', function ($routeProvider, $locationProvider, $httpProvider) {
            // Register interceptors service
            $httpProvider.interceptors.push('interceptors');

            $routeProvider.when("/", { templateUrl: "views/index.html" })


            .otherwise({ redirectTo: "/" });
        }]);


        myApp.controller('DispatchAllocationIndicatorController', [
            '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

                $scope.DispatchAllocationIndicator = [];
                $scope.HrdName = "";
                $scope.BidPlanName = "";
                $scope.TotalNumberOfEstimatedRequisitions = 0;
                $scope.TotalNumberOfApprovedRequisitions = 0;
                $scope.TotalNumberOfHubAllocatedRequisitions = 0;
                $scope.TotalNumberOfSipcAlloRequisitions = 0;
                $scope.TotalNumberOfCommitedRequisitions = 0;

                $scope.round = 0;
                $scope.rounds = [];
                $scope.startDate = "dd/m/yyyy";
                $scope.endDate = "dd/m/yyyy";


                @*$http({ method: 'GET', url: '@Url.Action("GetRounds", "Home")' })
                .success(function(data, status, headers, config) {
                    $scope.rounds = data;
                    $scope.onGetRoundsSuccess(data[0]);
                })
                .error(function (data, status, headers, config) { });*@


                $http({
                    method: 'POST',
                    url: '@Url.Action("GetRounds", "Home")',
                    //data: model,
                    beforeSend: function () {
                        $(".round-filter-ldng").show();
                        console.log("Before Send triggered");
                    },
                    complete: function () {
                        $(".round-filter-ldng").hide();
                        console.log("Complete triggered");
                    }
                }).success(function (data, status, headers, config) {
                    $scope.rounds = data;
                    //$scope.onGetRoundsSuccess(data[0]);

                }).error(function (data, status, headers, config) { });;

                $scope.getDispatchAllocationIndicator = function () {
                    console.log("startDate:" + $("#startDate").val());
                    console.log("endDate:" + $("#endDate").val());
                    $http({
                        method: 'GET',
                        params: { round: $scope.round, startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                        url: '@Url.Action("DispatchAllocationIndicator", "Home", new { Area = "Logistics" })',
                        beforeSend: function () {
                            $(".da-data-indicator-ldng").show();
                            console.log("DispatchAllocationIndicator: Before Send triggered");
                        },
                        complete: function () {
                            $(".da-data-indicator-ldng").hide();
                            console.log("DispatchAllocationIndicator: Complete triggered");
                        }
                    })
                        .success(function (data, status, headers, config) {
                            $scope.DispatchAllocationIndicator = data;
                            $scope.HrdName = data[0].HrdName;
                            $scope.TotalNumberOfEstimatedRequisitions = 0;
                            $scope.TotalNumberOfApprovedRequisitions = 0;
                            $scope.TotalNumberOfHubAllocatedRequisitions = 0;
                            $scope.TotalNumberOfSipcAlloRequisitions = 0;
                            $scope.TotalNumberOfCommitedRequisitions = 0;
                            for (var i = 0; i < data.length; i++) {
                                $scope.TotalNumberOfEstimatedRequisitions += data[i].NumberOfEstimatedRequisitions;
                                $scope.TotalNumberOfApprovedRequisitions += data[i].NumberOfApprovedRequisitions;
                                $scope.TotalNumberOfHubAllocatedRequisitions += data[i].NumberOfHubAllocatedRequisitions;
                                $scope.TotalNumberOfSipcAlloRequisitions += data[i].NumberOfSipcAlloRequisitions;
                                $scope.TotalNumberOfCommitedRequisitions += data[i].NumberOfCommitedRequisitions;
                            }
                        });
                };

                $scope.getDispatchAllocationIndicator();
            }
        ]);
        myApp.controller('BidPlanningIndicatorController', [
        '$scope', '$http', '$rootScope', function ($scope, $http, $rootScope) {

            $scope.BidPlanningIndicator = [];
            $scope.TotalNumberOfWoredas = 0;
            $scope.TotalNumberOfHubAssignedWoredas = 0;

            $scope.lguser = 0;
            $scope.lgusers = [];
            $scope.startDate = "dd/m/yyyy";
            $scope.endDate = "dd/m/yyyy";


            $http({
                method: 'POST',
                url: '@Url.Action("GetLogisticsUsers", "Home")',
                //data: model,
                beforeSend: function () {
                    $(".user-filter-ldng").show();
                    console.log("Before Send triggered");
                },
                complete: function () {
                    $(".user-filter-ldng").hide();
                    console.log("Complete triggered");
                }
            }).success(function (data, status, headers, config) {
                $scope.lgusers = data;
                //$scope.onGetRoundsSuccess(data[0]);

            }).error(function (data, status, headers, config) { });;


            $scope.getBidPlanningIndicator = function () {
                console.log("startDate:" + $("#startDateBidPlan").val());
                console.log("endDate:" + $("#endDateBidPlan").val());
                $http({
                    method: 'GET',
                    params: { lguser: $("#lgusers").val(), startDate: $("#startDate").val(), endDate: $("#endDate").val() },
                    url: '@Url.Action("BidPlanningIndicator", "Home", new { Area = "Logistics" })',
                    beforeSend: function () {
                        $(".bp-data-indicator-ldng").show();
                        console.log("BidPlanningIndicator: Before Send triggered");
                    },
                    complete: function () {
                        $(".bp-data-indicator-ldng").hide();
                        console.log("BidPlanningIndicator: Complete triggered");
                    }
                })
                    .success(function (data, status, headers, config) {
                        $scope.BidPlanningIndicator = data;
                        $scope.TotalNumberOfWoredas = 0;
                        $scope.BidPlanName = data[0].SelectedBidPlan;
                        $scope.TotalNumberOfHubAssignedWoredas = 0;
                        for (var i = 0; i < data.length; i++) {
                            $scope.TotalNumberOfWoredas += data[i].TotalNumberOfWoredas;
                            $scope.TotalNumberOfHubAssignedWoredas += data[i].TotalNumberOfHubAssignedWoredas;
                        }
                    });
            };

            $scope.getBidPlanningIndicator();
        }
        ]);
    })();
    function SummaryController($scope, $http) {

        $scope.reqParam = { program: 1, date: new Date() };
        $scope.requestRows = [];


        var onSuccess = function (data) {
            $scope.summaryData = data;
            var f = 0;
            var p = 0;
            for (var i = 0; i < $scope.summaryData.length; i++) {
                f = f + $scope.summaryData[i].TotalFreestock;
                p = p + $scope.summaryData[i].TotalPhysicalStock;
            }
            $scope.freeStockSum = f;
            $scope.physicalStockSum = p;
        };

        var onProgramGetSuccess = function (data) {
            $scope.ProgramsCollection = data;
        };

        $scope.getSummary = function () {
            console.log("Dispatch Date: " + $("#txtDate1").val());
            $scope.reqParam.date = $("#txtDate1").val();
            $http.post("@Url.Action("GetDispatchAllocation", "Home", new {Area = "Logistics"})", $scope.reqParam).success(onSuccess);
        };

        $scope.getPrograms = function () {


            $http.post("@Url.Action("GetPrograms", "LogisticsStockStatus", new {Area = "Logistics"})", null).success(onProgramGetSuccess);
        };

        $scope.getSummary();
        $scope.getPrograms();
    }

</script>
<script>
    function DetailGRN() {
        var transporterId = $('#hiddenTransporterIdValue').val();
        window.location = "@Url.Action("PaymentRequests", "TransporterPaymentRequest", new {Area = "Logistics"})" + "?transporterID=" + transporterId;
    }
</script>

<script src="~/Scripts/js/DataActivityIndictor/DataActivityIndicator.JS"></script>
