@using System.Collections
@using Cats.Helpers
@using Cats.Security
@model Cats.Models.HRDPSNPPlan

@{
    ViewBag.Title = "Creat";

    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    // Layout = "~/Views/Shared/_CATSLayout.cshtml";
    ViewBag.PageTitle = "New Fast on Set Request";
    ViewBag.PageTitleDescription = "";
}

@*@section Title
{
Requistions
}
@section PageTitle
{
     <h1 class="hdr-blck big ">  New Fast on Set Request</h1>
   
}*@

<div class="row">
    @section LeftBar
{
        @Html.Partial("_RegionalRequestLeftBar")
    }
    
    <div class="portlet light bordered" style="display: block;">
        <div class="portlet-title">
            <div class="caption font-green-sharp">
                <i class="fa fa-inbox font-green-sharp"></i>
                <span class="caption-subject bold uppercase"> New IDPS </span>
                <span class="caption-helper">  </span>
            </div>
        </div>
        <div>
            @using (Html.BeginForm("NewIdps", "Request", FormMethod.Post, new { id = "frm_create_request" }))
            {

                <div class="box-body row">
                    <div class="col-md-6 col-sm-6 form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.ProgramID, "Program")
                            </div>
                            <div class="col-sm-8">
                                @Html.TextBox("Program", "IDPS", new { disabled = true, @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProgramID)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.RegionID, "Region")
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("RegionID", null, String.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RegionID)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.Label("IDPS Reason")
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("ReasonType", ViewBag.IDPSReasonType as SelectList, new { @class = "form-control" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 control-label">
                                @Html.LabelFor(model => model.RationID, Html.Translate("Ration"))
                            </div>
                            <div class="col-sm-8">
                                @Html.DropDownList("RationID", null, String.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RationID)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-footer text-center">
                    @if (UserAccountHelper.EarlyWarningPsnpOperationCheck(EarlyWarningConstants.Operation.Add_New_IDPS_request))
                    {
                        <button class="btn btn-primary " type="submit" data-buttontype="btn_forward" data-submittedform="frm_create_request"><span class="fa fa-save"></span> Save</button>
                    }
                    <a class="btn  btn-default" href="@Url.Action("Index", "Request")"><span class="fa fa-lg fa-times-circle"></span> Cancel</a>
                </div>
            }

        </div>


    </div>
</div>
