@using System.Collections
@using Cats.Helpers
@using Cats.Models;
@{
    ViewBag.Title = Html.Translate("hub");
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}


@section Toolbar
{
  @* <a class="btn toolbar-btn "  id="btnToggle">Hub</a>*@
   <a class="btn toolbar-btn " data-buttontype="btn_save" href="javascript:onsaveAllocation()"></a>
   <a class="btn toolbar-btn " data-buttontype="btn_cancel" href="@Url.Action("Hub", "DispatchAllocation",new {regionId= Request.QueryString["regionid"]})" title="Cancel"></a>
   <a class="btn toolbar-btn " data-buttontype="btn_back_to_list" href="@Url.Action("Index","DispatchAllocation",new {regionId= Request.QueryString["regionid"]})"></a>
}

      <div class="row">
      <div ng-app="dragDrop"  ng-controller="DragDroController">
          <fieldset style="left: 120px">
              <legend> <ng-pluralize style="left: 120px" count="Requisitions.length" when="newRequisitions"></ng-pluralize></legend>
          </fieldset>
                                                                                      
              <div class="span3" >
                  @*<div ng-model="allocated" ng-repeat="item in allocated">
                            
                            ReqId: {{item.reqId}} | HubId: {{item.HubId}}
                            <button ng-click='saveAllocation()' id="save">save</button>
                        </div>*@
                         
                        
                  
                      <div  ng-model='Requisitions' id="container" style=" overflow-y:scroll;height: 800px" >
                          <div  class="btn btn-navbar btn-draggable " id="{{item.RequisitionId}}"  draggable=""   ng-repeat="item in Requisitions" >

                              <i  style="border:none;display: none;" id="Remove" data-toggle="tooltip" data-placement="left" title="Remove" ng-click="RemoveRequisitionFromStore(item.RequisitionId)"  class="icon-remove-circle"></i>
                              
                              <div class="accordion" id="accordion2">
                                  <div class="accordion-group">
                                      <div class="accordion-heading">
                                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#acc_{{item.RequisitionId}}" style="font-size: small ">
                                              Req.No: {{item.RequisitionNo}}  from : {{WarehouseName}}
                                          </a>
                                      </div>
                                      <div id="acc_{{item.RequisitionId}}" class="accordion-body collapse">
                                          <div class="accordion-inner" style="font-size: small">
                                              <br />Commodity: {{item.Commodity}}
                                              <br />Benficiary: {{item.BenficiaryNo}}
                                              <br />Amount: {{item.Amount}}
                                              <br />Region: {{item.Region}}
                                              <br />Zone: {{item.Zone}}
                                          </div>
                                      </div>
                                  </div>

                                
                              </div>
   
                          </div>
                      </div>
                  </div>
             
              <div class="span8">
                 
                    @{
                    
                        var enumerable = ViewData["Hubs"] as IEnumerable<Hub>;
                       
                             
                        if (enumerable != null)
                        {
                            var hubs = enumerable as Hub[] ?? enumerable.ToArray();
                            
                             <div id="Hub">
                            @foreach (var hub in  hubs)
                            {
                                if (hub.HubOwnerID == 1 && hub.HubParentID == hub.HubID)
                                {
                                    <div class="thumbnail span4" droppable="true" drop="handleDrop('@hub.HubID')" style="overflow-y:scroll; overflow-x:hidden" id="@hub.HubID">
                                        <div class="btn btn-navbar btn-droppable"  >@hub.Name (@hub.HubOwner.Name)  </div>
                                    </div>
                                }
                                @*else if (hub.HubOwnerID == 2)
                                {
                                    <div class="thumbnail span4" droppable="true" drop="handleDrop('@hub.HubID')" style=" grid-column-align; overflow-y:scroll; overflow-x:hidden" id="@hub.HubID">
                                        <div class="btn btn-navbar btn-droppable"  >@hub.Name (@hub.HubOwner.Name)</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="thumbnail span4" droppable="true" drop="handleDrop('@hub.HubID')" style="overflow-y:scroll; overflow-x:hidden" id="@hub.HubID">
                                        <div class="btn btn-navbar btn-droppable"  >@hub.Name (@hub.HubOwner.Name)</div>
                                    </div>
                                }*@
                                
                            }
                            </div>
                            @*<div id="Store">
                                 @foreach (var store in hubs)
                                 {
                                     foreach (var eachStore in store.Stores)
                                     {
                                            <div class="thumbnail span4" droppable="true" drop="handleDrop('@eachStore.Hub.HubID _ @eachStore.StoreID')" style="overflow-y:scroll; overflow-x:hidden" id="@eachStore.StoreID _ @eachStore.Hub.HubID" >
                                            <div class="btn btn-navbar btn-droppable"  >@eachStore.Name (@eachStore.Hub.Name)</div>
                                            </div>
                                     }
                                 }

                            </div>*@
                           
                        }
                    
                    } 
                
                </div>
            
         <modal title="Satellite Warehouse " visible="showModal">
    <form role="form">
      <div class="form-group">
          <label for="SatelliteWarehouse">Satellite Warehouse</label>
          
        
           <select data-ng-model="s.selected"   
                data-ng-options="s.Id as s.Name for s in WarehouseList">  
                <option value="">--Select Warehouse--</option>  
            </select> 
          {{s.Id}}
      </div>
     
      <button type="submit" class="btn btn-default" ng-click="saveWarehouse(s.selected)">Select</button>
    </form>
  </modal>
                
                </div>
    
            </div>
       
   <script src="~/Scripts/angular/allocation-angular.js"></script>
    <script>
        var regionId = '@ViewBag.regionId';
        var RegionName = '@ViewBag.RegionName';
        var Url = '@Url.Action("ReadRequisitions", "DispatchAllocation", new { area = "Logistics" })';
        var UrlPOST = '@Url.Action("Save","DispatchAllocation",new {area = "Logistics"})';
      
       
        $('a#btnToggle').click(function () {
        
            $(this).text($(this).text() == 'Hub' ? 'Store' : 'Hub');
            if ($(this).text() == 'Hub') {
                document.getElementById("Store").style.display = "none";
                document.getElementById("Hub").style.display = "block";
            } else if ($(this).text() == 'Store') {
                document.getElementById("Hub").style.display = "none";
                document.getElementById("Store").style.display = "block";
                
            }
        });
        
       

       
    </script>
    <style>
        .thumbnail { height: 280px; }
        .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
        .btn-draggable { width: 150px; }
        .span4 {
            margin: 0px !important;
        }



    </style>