@model Cats.Areas.GiftCertificate.Models.GiftCertificateViewModel
@using Cats.Areas.GiftCertificate.Models
@using Cats.Helpers
@using Cats.Models
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/NewTheme _MainLayout.cshtml";
    ViewBag.PageTitle = Html.Translate("Edit Gift Certificate");
    ViewBag.PageTitleDescription = "";
    ViewBag.IsInEditMode = false;
    ViewBag.IsInEditMode = true;
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "GiftCertificate", FormMethod.Post, new { id = "frm_edit_gift", @class= "form-horizontal" }))
        {
            
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-list font-green-sharp"></i>
                        <span class="caption-subject bold uppercase"> @Html.Translate("Gift Certificate Detail")</span>
                    </div>
                    <div class="tools">
                        <a href="#" class="collapse" data-original-title="" title=""></a>
                    </div>
                    <div class="actions">
                        <button class="btn green btn-sm" data-buttontype="btn_save" type="submit" data-submittedform="frm_edit_gift"><span class="fa fa-save"></span> @Html.Translate("Save")</button>
                        <a class="btn red btn-sm" data-buttontype="btn_cancel" href="@Url.Action("Index", "GiftCertificate")"><span class="fa fa-lg fa-times-circle"></span> @Html.Translate("Cancel")</a>
                        <a class="btn btn-icon-only btn-default fullscreen" href="javascript:;"></a>
                    </div>
                </div>
                <div class="portlet-body row">

                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.GiftCertificateID)
                    @Html.HiddenFor(model => model.rowCount)

                    <div class="col-md-6 col-sm-6 ">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GiftDate, Html.Translate("Gift Date"), new { @class = "col-sm-4 control-label cats-date-pref" })
                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.GiftDate, new { @class = " form-control cats-datepicker2" })
                                @Html.ValidationMessageFor(model => model.GiftDate)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.DModeOfTransport, Html.Translate("Mode Of transport"), new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.DropDownList("DModeOfTransport", null, String.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DModeOfTransport)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.ProgramID, Html.Translate("Program"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">

                                @Html.DropDownList("ProgramID", null, String.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProgramID)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.DonorID, Html.Translate("Donor"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">

                                @Html.DropDownList("DonorID", null, String.Empty, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DonorID)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.DeclarationNumber, Html.Translate("Declaration Number"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">

                                @Html.TextBoxFor(model => model.DeclarationNumber, new { @class = " form-control" })

                                @Html.ValidationMessageFor(model => model.DeclarationNumber)

                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.CommodityTypeID, Html.Translate("Commodity Type"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">

                                @Html.DropDownList("CommodityTypeID", null, String.Empty, new { @class = "form-control" })

                                @Html.ValidationMessageFor(model => model.CommodityTypeID)

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="form-group">

                            @Html.LabelFor(model => model.SINumber, Html.Translate("SI/Batch Number"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.SINumber, new { @class = " form-control" })
                                @Html.ValidationMessageFor(model => model.SINumber)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.PortName, Html.Translate("Port Name"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.PortName, new { @class = " form-control" })
                                @Html.ValidationMessageFor(model => model.PortName)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.ReferenceNo, Html.Translate("Reference Number"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ReferenceNo, new { @class = " form-control" })
                                @Html.ValidationMessageFor(model => model.ReferenceNo)
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(model => model.Vessel, Html.Translate("Vessel"), new { @class = "col-sm-4 control-label" })

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.Vessel, new { @class = " form-control" })
                                @Html.ValidationMessageFor(model => model.Vessel)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ETA, Html.Translate("ETA"), new { @class = "col-sm-4 control-label cats-date-pref" })
                            </div>

                            <div class="col-sm-8">
                                @Html.TextBoxFor(model => model.ETA, new { @class = "form-control cats-datepicker2" })
                                @Html.ValidationMessageFor(model => model.ETA)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                    
        }
    </div>

</div>







