@using Cats.Helpers

<div id="commodHeader" class="portlet-title">
    <div class="caption font-green-sharp">
        <span class="caption-subject bold uppercase"> @Html.Translate("Commodity")</span>
    </div>
</div>
<div id="commoContent" class="portlet-body">
    <ul>
        <li>
            <a href="@Url.Action("Index", "CommodityType", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Commodity Type</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Commodity", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Commodity</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "CommodityGrade", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Commodity Grade</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "CommoditySource", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Commodity Source</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Program", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Program</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Donor", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Donors</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Unit", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Units</span>
            </a>
        </li>
    </ul>
</div>

<script>
    $("#commodHeader").click(function () {
        $("#commoContent").slideToggle("slow", "linear");
    });
</script>
