@using Cats.Helpers

<div id="configHeader" class="portlet-title">
    <div class="caption font-green-sharp">
        <span class="caption-subject bold uppercase"> @Html.Translate("Configuration")</span>
    </div>
</div>

<div id="configContent" class="portlet-body">
    <ul>
        <li>
            <a href="@Url.Action("Index", "Hubs", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Hubs</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "UserWarehouse", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Hub Users</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "HubOwner", new { Area = "Settings" })" class="shortcut">
                <span class="shortcut-label">Hub Owners</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Store", new {Area = "Settings"})" class="shortcut">
                <span class="shortcut-label">Stores</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index","Currency",new {Area="Settings"})">
                Currency
            </a>
        </li>
    </ul>
</div>


<script>
    $("#configHeader").click(function () {
        $("#configContent").slideToggle("slow", "linear");
    });
</script>