@using Cats.Helpers

<style>
    .sidebarForm, .sidebarForm form
    {
        margin:0;
        padding:0;
    }
    .sidebarForm select
    {
        width:170px;
    }
</style>


    @using (Html.BeginForm("Create", "WoredaStockDistribution", FormMethod.Get, new {@class="form"}))
    {

        <div class="portlet solid  bordered" style="border-right: 2px solid #e6e9ec !important; border-left: none !important;">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        @*<i class="icon-list font-green-sharp"></i>*@
                        <span class="caption-subject bold uppercase"> @Html.Translate("Select Parameters")</span>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="form-group">
                        <div class="control-label">
                            @Html.Label(Html.Translate("Region"))
                        </div>
                        <div id="div_region">
                            @Html.DropDownList("Region", ViewBag.Region as SelectList, "--Select Region--", new {@id = "RegionID", @class="form-control"})
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            @Html.Label(Html.Translate("Zone"))
                        </div>
                        <div id="div_zone">
                            @Html.DropDownList("Zone", ViewBag.Zone as SelectList, "--Select Zone--", new {@id = "ZoneID", @class="form-control"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            @Html.Label(Html.Translate("Woreda"))
                        </div>
                        <div id="div_woreda">
                            @Html.DropDownList("Woreda", ViewBag.Woreda as SelectList, "--Select Woreda--", new {@id = "WoredaID", @class="form-control"})
                            @*@Html.DropDownListFor(m=>m.WoredaID,ViewBag.Woreda as SelectList,new {@id="WoredaID"})*@
                            @*@Html.ValidationMessageFor(m=>m.WoredaID)*@
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="control-label">
                            @Html.Label(Html.Translate("Program"))
                        </div>
                        <div>
                            @*@Html.DropDownList("ProgramID",String.Empty)*@
                            <select id="ProgramID" name="ProgramID" class="form-control"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            @Html.Label(Html.Translate("Plan"))
                        </div>
                        <div>
                            @*@Html.Label(Html.Translate("Plan"))*@
                            <select id="PlanID" name="PlanID" class="form-control"></select>
                            @* @Html.DropDownList("PlanID",String.Empty)*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label">
                            @Html.Label(Html.Translate("Month /Round"))
                        </div>
                        <div>
                            <select id="month" name="month"  class="form-control"></select>
                        </div>

                    </div>

                    <hr/>
                    <div class="form-group">
                        <input type="submit" value="Select" class="btn btn-default btn-md green pull-right" />
                    </div>
                </div>
            </div>

    }

<script>

    var admin_region_hash = {};
    var admin_zone_hash = {};

    $(function() {
        $.getJSON("@Url.Action("GetAdminUnits", "WoredaStockDistribution", new { Area = "Logistics" })", {}, function(data) {

            //document.getElementById("ZoneID").disabled = true;
            //document.getElementById("WoredaID").disabled = true;
            $("select#ZoneID").prop("disable",  true);
            $("select#WoredaID").prop("disable", true);
            var msg = "";
            for (var i in data) {
                msg += "\n" + data[i].RegionName;
                var key = data[i].RegionID;
                admin_region_hash[key] = data[i];

                var count = data[i].Zones.length;


                for (var j = 0; j < count; j++) {
                    var keyz = data[i].Zones[j].ZoneID;
                    admin_zone_hash[keyz] = data[i].Zones[j].Woredas;
                }
            }
        });

        $.getJSON("@Url.Action("GetPrograms", "WoredaStockDistribution")", function (data) {
            var programs = "<option value=''>-- Select Programs --</option>";
            $.each(data, function (i, program) {
                programs += "<option value='" + program.ProgramID + "'>" + program.ProgramName + "</option>";
            });
            $("select#ProgramID").html(programs);
        });

        $("#RegionID").change(function () {
            var regionId = $("#RegionID").val();
            var region = admin_region_hash[regionId];
            var zones = region.Zones;
            //document.getElementById("ZoneID").disabled = false;
            $("select#ZoneID").prop("disable", false);
            //var msg = "";

            var htm = "<select name='Zone' id ='ZoneID'  class='form-control' ><option value=''>-- Select Zone --</option> ";
            for (var z in zones) {
                //htm += "<option value='" + zones[z].AdminUnitID + "'>" + zones[z].Name + "</option>";
                htm += "<option value='" + zones[z].ZoneID + "'>" + zones[z].ZoneName + "</option>";
                //msg += "\n" + zones[z].ZoneName;
            }

            htm += "</select>";
            $("#div_zone").html(htm);

            $("#ZoneID").change(function () {
                popoulateWoredas();
            });
        });

        function popoulateWoredas() {
            //document.getElementById("ProgramID").disabled = false;
            //document.getElementById("WoredaID").disabled = false;
            $("select#ProgramID").prop("disable", false);
            $("select#WoredaID").prop("disable", false);
            var zoneId = $("#ZoneID").val();
            //alert(zoneId);
            var woredas = admin_zone_hash[zoneId];
            var s = "<select id ='WoredaID' name='Woreda' class='form-control' ><option value=''>-- Select Woreda --</option> ";
            for (w in woredas) {
                s += "<option value='" + woredas[w].WoredaID + "'>" + woredas[w].WoredaName + "</option>";
            }
            s += "</select>";
            $("#div_woreda").html(s);
        }

        $("#ZoneID").change(function () {
            popoulateWoredas();

        });
    });
    $(function () {
        //document.getElementById("ProgramID").disabled = true;
        //document.getElementById("PlanID").disabled = true;
        //document.getElementById("month").disabled = true;

        $("select#ProgramID").prop("disable", true);
        $("select#PlanID").prop("disable", true);
        $("select#month").prop("disable", true);

        $("select#ProgramID").change(function () {
            //if (($("#ZoneID").val() == null) || ($("#ZoneID").val() == "")) {}else{
            //document.getElementById("PlanID").disabled = false;
            $("select#PlanID").prop("disable", false);
                $("#div_round").hide();
                $("#div_month").hide();
                $.getJSON("@Url.Action("GetPlans", "WoredaStockDistribution")" + "?id=" + $("#ProgramID").val() + "&zoneID=" + $("#ZoneID").val(), function (data) {
                var plans = "<option value=''>-- Select Plan --</option>";
                $.each(data, function (i, plan) {
                    plans += "<option value='" + plan.Value + "'>" + plan.Text + "</option>";
                });
                $("select#PlanID").html(plans);
            });
            //}


        });
        $("select#PlanID").change(function() {
            //document.getElementById("month").disabled = false;
            $("select#month").prop("disable", false);
            $.getJSON("@Url.Action("GetMonth", "WoredaStockDistribution")" + "?id=" + $("select#PlanID").val() + "&zoneID=" + $("#ZoneID").val() + "&programId=" + $("select#ProgramID").val(), function (data) {
                var months = "<option value=''>-- Select Month/Round --</option>";
                $.each(data, function(i, m) {
                    months += "<option value='" + m.Value + "'>" + m.Text + "</option>";
                });
                $("select#month").html(months);
            });
        });
    });
</script>
